<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DevSessionToken</key>
	<string>$(DEV_SESSION_TOKEN)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>voice</string>
	</array>
	<key>YakusuAPIBase</key>
	<string>$(YAKUSU_API_BASE)</string>
	<key>YakusuAPIProto</key>
	<string>$(YAKUSU_API_PROTO)</string>
</dict>
</plist>
